PokeAPIConsole/PokeAPIConsole/obj/Debug*/
PokeAPIConsole/.vs/PokeAPIConsole/FileContentIndex/1bd0d87d-26ef-4d35-b94c-55707c5d234a.vsidx
PokeAPIConsole/.vs/PokeAPIConsole/FileContentIndex/f25fcb9e-9a95-4e9d-af8c-e149498b9621.vsidx
PokeAPIConsole/.vs/PokeAPIConsole/FileContentIndex/read.lock
PokeAPIConsole/PokeAPIConsole/bin/Debug*/
PokeAPi/.vs/PokeAPi/config/applicationhost.config
PokeAPi/.vs/PokeAPi/FileContentIndex/b060e817-55c1-4fbd-a481-ffedc9cbdd0f.vsidx
PokeAPi/.vs/PokeAPi/v17/.suo
PokeAPi/PokeAPi/bin/PokeAPi.dll
PokeAPi/PokeAPi/bin/PokeAPi.pdb
PokeAPi/PokeAPi/Content/assets/images/users/logo.jpg
PokeAPi/PokeAPi/Content/assets/images/users/logouth.png
PokeAPi/PokeAPi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PokeAPi/PokeAPi/obj/Debug/PokeAPi.csproj.AssemblyReference.cache
PokeAPi/PokeAPi/obj/Debug/PokeAPi.csproj.CoreCompileInputs.cache
PokeAPi/PokeAPi/obj/Debug/PokeAPi.csproj.FileListAbsolute.txt
PokeAPi/PokeAPi/obj/Debug/PokeAPi.dll
PokeAPi/PokeAPi/obj/Debug/PokeAPi.pdb
