PokeAPIConsole/PokeAPIConsole/obj/Debug*/
PokeAPIConsole/.vs/PokeAPIConsole/FileContentIndex/1bd0d87d-26ef-4d35-b94c-55707c5d234a.vsidx
PokeAPIConsole/.vs/PokeAPIConsole/FileContentIndex/f25fcb9e-9a95-4e9d-af8c-e149498b9621.vsidx
PokeAPIConsole/.vs/PokeAPIConsole/FileContentIndex/read.lock
PokeAPIConsole/PokeAPIConsole/bin/Debug*/
