



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Universidad Tecnologica de Hermosillo </h3>
                
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            @*<div class="col-md-6 col-lg-12">*@
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="portlet light portlet-fit add-padding-pagination">
                        <div class="portlet-title" style="padding-bottom: 0px;">

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card">
                                    <img src="https://cdn.vox-cdn.com/thumbor/SCHYwQY8eqWYGzLZ0rUi50xP7V0=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22331126/Pokemon_Legends_Arceus_screenshot_17.jpg" alt="Imagen" />


                                </div>
                            </div>
                          
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2021 Interfases y Sistemas Electrónicos S.A.P.I. de C.V. intertel.mx</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>


</div>



